.diagnostics {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%; /* Ширина окна справа */
    height: 100vh; /* Высота на весь экран */
    overflow-y: auto; /* Вертикальный скролл */
    background-color: #d3d3d3;
    padding: 10px;
    border-left: 1px solid #dee2e6;
}

/* Основной контент слева */
.main-content {
    margin-right: 30%; /* Отступ для правого окна */
}